
@media (max-width: 840px) {

    .container {
        width: 65%;
    }

    .register-text {
        font-size: 15px;
        padding: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 530px) {
    .header {
        font-size: .75em;
    }
}