* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 26%, #ffdd00 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Play', sans-serif;
}

.header-container {
    background-color: #323232;

    border: solid 6px #f1c40fee;
    border-radius: 15px;

    display:flex;
    text-align:center;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    width: 70%;
    height: 20%;

    margin-top: 3%;

    padding: 20px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.header {
    color: #fff;

    font-size: 7em;
    font-weight: 700;

    display: flex;
    text-align: center;
    justify-content: center;

    /* text-shadow:    0px 4px 3px rgba(0, 0, 0, .4),
                    0px 8px 13px rgba(0, 0, 0, .1),
                    0px 18px 23px rgba(0, 0, 0, .1); */

}

.container {
    width: 70%;
    min-height: 100px;
    height: auto;

    background-color: #323232;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;

    border: solid 6px #f1c40fee;
    border-radius: 15px;

    margin-top: 110px;

    padding: 15px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.chart {
    border-radius: 20px;
    border: solid 6px #fbb034;
    margin: 30px 10px;
    width: 95%;
}

.charts {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.ranking {
    min-width: 40%;
    width: auto;
    min-height: 700px;
    background-color: rgba(255, 255, 255, .1);
    padding: 20px;

    color: #fff;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-left: 3%;
}

.ranking-header {
    font-size: 3em;
    font-weight: 700;
}

.position {
    background-color: rgba(255, 255, 255, .2);
    padding: 20px;
    margin: 10px 0;
    width: 90%;

    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.num-pos {
    margin-left: 10%;
}

.username {
    margin-right: 10%;
}

.position:nth-child(2),
.position:nth-child(3),
.position:nth-child(4) {
    background-color: #fbb034;
}

.no-chart {
    padding: 25%;
    color: #fff;

    background-color: rgba(255, 255, 255, .1);

    margin-left: auto;
    margin-right: auto;

    margin: 10px 0;
}

.interface {
    width: 70%;
    min-height: 100px;
    height: auto;

    background-color: #323232;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;


    margin-left: auto;
    margin-right: auto;

    border: solid 6px #f1c40fee;
    border-radius: 15px;

    margin-top: 2%;

    padding: 15px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.function-buttons {
    color: #fff;

    display: flex;
    flex-direction: column;
    margin-right: 20px;

}

.function-buttons .function {
    display: flex;
    margin: 10px;
    padding: 10px 20px;

    width: 100%;
    height: auto;

    justify-content: space-between;
    background-color: #505050;
}

.function .function-span {
    font-size: 1.2em;
    margin-top: 20px;
    text-transform: uppercase;
}

.a-tag {
    text-decoration: none;
    color: #fff;
}

.icon-div {
    width: 40%;
    height: 40%;

    border-radius: 50%;

    background-color: #f1c40fee;
    border-radius: 10px;

    padding: 15px;
}

img.icon {
    filter: invert(100%);
}

footer {
    margin-bottom: 0;
    margin-top: 10%;

    background-color: #323232;

    border-top: solid 5px #f1c40fee;

    width: 100%;
    min-height: 200px;
    height: auto;

    color: #fff;

    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 40px;

    position: relative;
    bottom: 0;

    flex-direction: column;


}

footer .logo .footer-logo{
    font-size: 3em;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .6);
}

footer .copyright .C {
    font-size: 30px;
    font-weight: 300;
}

footer .author .author-span,
footer .author .author-start {
    font-size: 30px;
    padding: 10px;
}

footer .author .author-span:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}